.playlist-entity {
  height: 80px;
  width: 100%;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #d9dfe0;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.playlist-entity.expanded{
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
}

.playlist-entity:not(.expanded):hover {
  box-shadow: 0 6px 30px 3px rgb(132 137 138 / 30%);
  border-color: transparent;
}

.playlist-thumbnail {
  width: 66px;
  height: 66px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
}

.fade-in {
  animation: fade-in 0.3s ease forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 66px;
    height: 66px;
  }
}

.fade-out {
  animation: fade-out 0.3s ease forwards;
}
@keyframes fade-out {
  from {
    opacity: 1;
    width: 66px;
    height: 66px;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
